body {
    background-image: url(/Storage/Images/third_party_1652883829052.png);
    opacity: 1;
    background-blend-mode: darken;
    background-size: auto;
    background-position-x: center;
    background-position-y: 5px;
}

#bigtitties {
    color: rgb(239, 25, 89);
    text-align: center;
    font-family: monospace;
}

#wetpussy {
    text-align: center;
}

#Ifuckedyourslutmom {
    text-size-adjust: 4px;
}

